---
name: CI

on:
  workflow_call:
  pull_request:
  push:
    branches:
      - main

jobs:
  ci:
    name: Run ${{ matrix.target }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        target:
          - build
          - lint
          - test

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run ${{ matrix.target }}
        run: npm run ${{ matrix.target }}

